{% extends "./base-2.html" %}
{% load static %}

{% block reserve-room %}
<div class="row">
    <div class="col-md-6">
        <form class="form">
            <div class="row">
                <div class="form-group col-sm-6">
                    <label class="control-label" for="">Check In:</label>
                    <input type="text" class="form-control" id="checkin-datepicker" placeholder="dd/mm/yy">
                </div>
                <div class="form-group col-sm-6">
                    <label class="control-label" for="">Check Out:</label>
                    <input type="text" class="form-control" id="checkout-datepicker" placeholder="dd/mm/yy">
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-6 bg-2" style="padding: 20px 40px 40px 40px">
        <h3>Our Rooms</h3>
        <p>Click the picture for more details.</p>
        <img class="img-responsive center-block" src="{% static 'images/motel-des-cedres/mdc-pic-02.jpeg' %}">
    </div>
</div>


{% endblock %}

