{% extends "./base-2.html" %}
{% block searchroom %}

<div class="container-fluid" style="background-color:#f4511e; padding: 10px 20px;">
<div class="row" style="color: #f5f5f5">
<div class="col-md-2">
</div>
<div class="col-md-8">
    <form class="form">
        <div class="form-group col-sm-3">
            <label class="control-label" for="">Check-in:</label>
            <input type="text" class="form-control" id="checkin-datepicker" placeholder="dd/mm/yy">
        </div>
        <div class="form-group col-sm-3">
            <label class="control-label" for="">Check-out:</label>
            <input type="text" class="form-control" id="checkout-datepicker" placeholder="dd/mm/yy">
        </div>
        <div class="form-group col-sm-1">
            <label class="control-label" for="">Adults</label>
            <select class="form-control" name="num-of-adults">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            </select>
        </div>
        <div class="form-group col-sm-1">
            <label class="control-label" for="">Children</label>
            <select class="form-control" name="num-of-children">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            </select>
        </div>
        <div class="form-group"> 
            <button type="submit" class="btn btn-default" style="margin-left: 40px; margin-top: 25px;">Search</button>
        </div>

    </form>
</div>
<div class="col-md-2">
</div>
</div> <!-- end of row -->
</div> <!-- end of container -->

{% endblock %}